.card {
  text-align: center;
  box-shadow: 8px 8px 8px rgba(12, 0, 124, 0.3);
  border: rgb(12, 0, 124) solid 2px;
  background: rgba(204, 227, 240, 0.2);
  border-radius: 4px;
  padding: 10px;
  margin-left: 20px;
}

.DayPlanner-temps {
  font-size: 23px;
}

.minTemp {
  padding-left: 15px;
}

