.HeaderDate h3 {
  color: floralwhite;
  text-align: left;
  font-size: 20 px;
  padding-top: 30px;
  padding-left: 15px;
}

.HeaderDate li {
  color: floralwhite;
  text-align: right;
  line-height: 0;
  list-style-type: none;
  font-size: 18px;
  padding-top: 30px;
  padding-right: 25px;

}
