.row {
 padding-top: 30px;
  
}

h3.HeaderDate {
  color: floralwhite;
  font-size: 25px;
  padding-left: 15px;
}

.HeaderDate li {
  color: floralwhite;
  text-align: right;
  line-height: .5;
  list-style-type: none;
  font-size: 16px;
  padding-top: 10px;
  padding-right: 15px;

}
