.HeaderDate h3 {
  color: floralwhite;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  line-height: 1;
  padding-top: 30px;
  padding-left: 15px;
  text-transform: capitalize;
}

.HeaderDate li {
  list-style-type: none;
  font-size: 20px;
  padding-right: 15px;

}
