.SearchEngine h1 {
  color: floralwhite;
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 15px;
}

.SearchEngine {
  text-align: center;
  color: floralwhite;
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 15px;
}

.CurrentButton {
  padding: 5px 30px;
  border-radius: 4px;
}

.CurrentButton:hover {
  cursor: pointer;
}